@functions {
    string NumberToString(int input)
    {

        switch (input)
        {
            case 2:
                return "number two";
            case 3:
                return "number three";
            case 4:
                return "number four";
            case 5:
                return "number five";
            case 6:
                return "number six";
            case 7:
                return "number seven";
            case 8:
                return "number eight";
            case 9:
                return "number nine";
            case 10:
                return "number ten";
            case 11:
                return "number eleven";
            case 12:
                return "number twelve";
            default:
                return "number eight";
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settlers of Catan Game Board</title>
    <link rel="stylesheet" href="~/css/BigBoard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
    <div class="container">

        <ol class="even">
            <li class='hex spacer'></li>
            <li class='hex water'></li>
            <li class='hex water'>
                <div class='harbor two-one wood'>
                    <div class='harbor-piece br'></div>
                </div>
            </li>
            <li class='hex water'></li>
            <li class='hex water'>
                <div class='harbor three-one wood'>
                    <div class='harbor-piece bl'></div>
                </div>
            </li>
            <li class='hex water'></li>
        </ol>

        <ol class="odd">
            <li class='hex spacer'></li>
            <li class='hex water'>
                <div class='harbor three-one sheep'>
                    <div class='harbor-piece br'></div>
                </div>
            </li>
            <!--Tile position 0-->
            <li class='hex @Model.Tiles[0].Resource'>
                <div class='@NumberToString(Model.Tiles[0].Chip)'></div>
            </li>
            <!--Tile position 1-->
            <li class='hex @Model.Tiles[1].Resource'>
                <div class='@NumberToString(Model.Tiles[1].Chip)'></div>
            </li>
            <!--Tile position 2-->
            <li class='hex @Model.Tiles[2].Resource'>
                <div class='@NumberToString(Model.Tiles[2].Chip)'></div>
            </li>
            <!--Tile position 3-->
            <li class='hex @Model.Tiles[3].Resource'>
                <div class='@NumberToString(Model.Tiles[3].Chip)'></div>
            </li>
            <li class='hex water'></li>
        </ol>

        <ol class="even">
            <li class='hex water'></li>
            <!--Tile position 4-->
            <li class='hex @Model.Tiles[4].Resource'>
                <div class='@NumberToString(Model.Tiles[4].Chip)'></div>
            </li>
            <!--Tile position 5-->
            <li class='hex @Model.Tiles[5].Resource'>
                <div class='@NumberToString(Model.Tiles[5].Chip)'></div>
            </li>
            <!--Tile position 6-->
            <li class='hex @Model.Tiles[6].Resource'>
                <div class='@NumberToString(Model.Tiles[6].Chip)'></div>
            </li>
            <!--Tile position 7-->
            <li class='hex @Model.Tiles[7].Resource'>
                <div class='@NumberToString(Model.Tiles[7].Chip)'></div>
            </li>
            <!--Tile position 8-->
            <li class='hex @Model.Tiles[8].Resource'>
                <div class='@NumberToString(Model.Tiles[8].Chip)'></div>
            </li>
            <li class='hex water'>
                <div class='harbor three-one brick'>
                    <div class='harbor-piece l'></div>
                </div>
            </li>
        </ol>

        <ol class="odd">
            <li class='hex water'>
                <div class='harbor three-one sheep'>
                </div>
            </li>
            <!--Tile position 9-->
            <li class='hex @Model.Tiles[9].Resource'>
                <div class='@NumberToString(Model.Tiles[9].Chip)'></div>
            </li>
            <!--Tile position 10-->
            <li class='hex @Model.Tiles[10].Resource'>
                <div class='@NumberToString(Model.Tiles[10].Chip)'></div>
            </li>
            <!--Tile position 11-->
            <li class='hex @Model.Tiles[11].Resource'>
                <div class='@NumberToString(Model.Tiles[11].Chip)'></div>
            </li>
            <!--Tile position 12-->
            <li class='hex @Model.Tiles[12].Resource'>
                <div class='@NumberToString(Model.Tiles[12].Chip)'></div>
            </li>
            <!--Tile position 13-->
            <li class='hex @Model.Tiles[13].Resource'>
                <div class='@NumberToString(Model.Tiles[13].Chip)'></div>
            </li>
            <!--Tile position 14-->
            <li class='hex @Model.Tiles[14].Resource'>
                <div class='@NumberToString(Model.Tiles[14].Chip)'></div>
            </li>
            <li class='hex water'>
            </li>
        </ol>
        <ol class="even">
            <li class='hex water'></li>
            <!--Tile position 15-->
            <li class='hex @Model.Tiles[15].Resource'>
                <div class='@NumberToString(Model.Tiles[15].Chip)'></div>
            </li>
            <!--Tile position 16-->
            <li class='hex @Model.Tiles[16].Resource'>
                <div class='@NumberToString(Model.Tiles[16].Chip)'></div>
            </li>
            <!--Tile position 17-->
            <li class='hex @Model.Tiles[17].Resource'>
                <div class='@NumberToString(Model.Tiles[17].Chip)'></div>
            </li>
            <!--Tile position 18-->
            <li class='hex @Model.Tiles[18].Resource'>
                <div class='@NumberToString(Model.Tiles[18].Chip)'></div>
            </li>
            <!--Tile position 19-->
            <li class='hex @Model.Tiles[19].Resource'>
                <div class='@NumberToString(Model.Tiles[19].Chip)'></div>
            </li>
            <!--Tile position 20-->
            <li class='hex @Model.Tiles[20].Resource'>
                <div class='@NumberToString(Model.Tiles[20].Chip)'></div>
            </li>
            <li class='hex water'>
                <div class='harbor three-one brick'>
                    <div class='harbor-piece l'></div>
                </div>
            </li>
        </ol>
        <ol class="odd">
            <li class='hex spacer'></li>
            <li class='hex water'>
                <div class='harbor two-one any'>
                    <div class='harbor-piece tr'></div>
                </div>
            </li>
            <!--Tile position 21-->
            <li class='hex @Model.Tiles[21].Resource'>
                <div class='@NumberToString(Model.Tiles[21].Chip)'></div>
            </li>
            <!--Tile position 22-->
            <li class='hex @Model.Tiles[22].Resource'>
                <div class='@NumberToString(Model.Tiles[22].Chip)'></div>
            </li>
            <!--Tile position 23-->
            <li class='hex @Model.Tiles[23].Resource'>
                <div class='@NumberToString(Model.Tiles[23].Chip)'></div>
            </li>
            <!--Tile position 24-->
            <li class='hex @Model.Tiles[24].Resource'>
                <div class='@NumberToString(Model.Tiles[24].Chip)'></div>
            </li>
            <!--Tile position 25-->
            <li class='hex @Model.Tiles[25].Resource'>
                <div class='@NumberToString(Model.Tiles[25].Chip)'></div>
            </li>
            <li class='hex water'></li>
        </ol>
        <ol class="even">
            <li class='hex spacer'></li>
            <li class='hex water'>
                <div class='harbor three-one sheep'>
                    <div class='harbor-piece br'></div>
                </div>
            </li>
            <!--Tile position 26-->
            <li class='hex @Model.Tiles[26].Resource'>
                <div class='@NumberToString(Model.Tiles[26].Chip)'></div>
            </li>
            <!--Tile position 27-->
            <li class='hex @Model.Tiles[27].Resource'>
                <div class='@NumberToString(Model.Tiles[27].Chip)'></div>
            </li>
            <!--Tile position 28-->
            <li class='hex @Model.Tiles[28].Resource'>
                <div class='@NumberToString(Model.Tiles[28].Chip)'></div>
            </li>
            <!--Tile position 29-->
            <li class='hex @Model.Tiles[29].Resource'>
                <div class='@NumberToString(Model.Tiles[29].Chip)'></div>
            </li>
            <li class='hex water'></li>
        </ol>
        <ol class="odd">
            <li class='hex spacer'></li>
            <li class='hex spacer'></li>
            <li class='hex water'></li>
            <li class='hex water'>
                <div class='harbor two-one any'>
                    <div class='harbor-piece tr'></div>
                </div>
            </li>
            <li class='hex water'></li>
            <li class='hex water'>
                <div class='harbor three-one wood'>
                    <div class='harbor-piece tl'></div>
                </div>
            </li>
            <li class='hex water'></li>
        </ol>

    </div>
    <!-- partial -->

</body>
</html>